<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulario de comentarios</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src='main.js'></script>
</head>

<body>
    <div class="content container">
        <div class="row">
            <div class="col-12-text-center">
                {% block form %}
                {% endblock %}
                <h1>Formulario</h1>
                <form action="{% url 'formulario' %}" method="POST">
                    {%csrf_token%}
                    {{ form.as_p }}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <button class="bg-primary" type="submit">Agregar comentario</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>