<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Añadir libro </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src='main.js'></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Nuevo libro</h1>
                <form action="{% url 'form' %}" method="POST">
                    {%csrf_token%}
                    {{ form.as_p }}
                    <button type="submit">Añadir libro</button>
                </form>
                <a href="{% url 'list' %}">Ir al listado de libros</a>
            </div>
        </div>
    </div>

</body>

</html>