{% extends 'books/base.html' %}
{%block title%}Book list{% endblock %}
{% block content %}
<h1>Books List</h1>
<a href="{% url 'form' %}">New book</a>
<ul>
    {%for book in book_list %}
    <li>
        <h2>{{ book.title }}</h2>

        <h3>Author - {{ book.author }}</h3>
        <h4 class="text-warning">{{ book.rating }} estrellas</h4>
        <p>{{book.resume}}</p>
        <a class="btn btn-primary" href="{% url 'book' pk=book.pk %}">Go to 
            {{book.title}}</a></button>
            <a class="btn btn-danger" href="{% url 'delete' pk=book.pk  %}">Delete book </a>
    </li>
    {% empty %}
    <li>The library is empty</li>
    {%endfor%}
</ul>
{% endblock %}