<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{book.title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src='main.js'></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>{{ book.title }}</h1>
            <h2>Author - {{book.author}}</h2>
            <p>{{ book.resume }}</p>
            <h3 class="text-warning">{{ book.rating }} estrellas</h3>
            <a class="btn btn-primary" href="{% url 'edit' pk=book.pk %}">Editar libro</a>
            <a class="btn btn-secondary" href="{% url 'list' %}">Volver a los libros</a>
        </div>
        <!--{% if user.is_authenticated %}-->
        <!--{% endif %}-->

    </div>
</body>

</html>